@import "../../../node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.has-text-centered {
  text-align: center !important;
}

.has-text-right {
  text-align: right !important;
}

.has-text-left {
  text-align: left !important;
}

:root {
  /*
  * Global Styles
  */
  font-family: "Raleway", sans-serif;
  background-color: var(--white);
}
