.button {
  display: block;
  height: 42px;
  padding: 0;
  margin: 0;
  background-color: var(--yellow);
  color: var(--black);
  border: 2px solid var(--black);
  border-radius: 0;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: normal;
  font-size: 24px;
  text-transform: uppercase;
}

.button-hovered {
  box-shadow: -10px 10px var(--red);
  transform: translate(10px, -10px);
}

.text {
  padding: 0px 20px 0px 20px;
}

.link {
  text-decoration: none;
}
