@import "../../../node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.has-text-centered {
  text-align: center !important;
}

.has-text-right {
  text-align: right !important;
}

.has-text-left {
  text-align: left !important;
}

.has-content-centered > * {
  margin: 0 auto;
}

/* TODO */
.has-content-right > * {
}

/* TODO */
.has-content-left > * {
}

.has-content-vertical-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:root {
  /*
  * Global Styles
  */
  font-family: "Raleway", sans-serif;
  background-color: var(--background-white);
}
