.hover-button {
  background: transparent;
  padding: 1rem;
  min-width: 200px;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 2px;
  font-size: 24px;
  -webkit-transition: color 0.5s, border-color 0.5s, background 0.5s;
  transition: color 0.5s, border-color 0.5s, background 0.5s;
  cursor: pointer;

  &:focus {
    background: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
    color: rgba(1, 1, 1, 1);
    outline: none;
  }
  &:hover {
    background: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
    color: rgba(1, 1, 1, 1);
  }
}
