@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
.landing-page {
  height: 100vh - 10;
  // background-image: url("../assets/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-family: "Pacifico", cursive;
  font-size: 128px;
  // color: white;
}

.center-container {
  flex: 1;
  width: 100%;
  text-align: center;
}

.container-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gg_button {
  height: 100%;
}
