@import "../../node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  /*
  * Global Styles
  */
  font-family: "Raleway", sans-serif;
}

html,
body,
#root {
  height: 100vh;
  background-color: var(--pink);
}
